JIRA_EMAIL=sayadas@redhat.com
JIRA_PERSONAL_TOKEN=ATATT3xFfGF0rGjoZ4uJWiXGR9fYvqCubm4DSkMVE9oGqEooueJ9cibHAfOFVgEKAxjACXn0hgl18YLLHAh7bAN51QL7s0Es5cSoiV6ZNTyDiS9n_37b2pYwkPEe24zRfmKpviVrIG8xjyawJ-wjt7t5-6iQe2TLlAdYP0qFB6BAAreh93W60es=BC6C1831
JIRA_BASE_URL=https://redhat.atlassian.net
